/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* General */
body, body * {
  font-family: 'Libre Baskerville', serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color:inherit;
}

p {
  line-height: 1.5em;
  padding-top: 1em;
}

li {
  padding-bottom: 1.5em;
  padding-left: 1em; 
  text-indent: -.8em;

  font-size: 1em;
  line-height: 1.5em;
  color:rgba(0,0,0,.75);
}

li:before {
    content: "- ";
    color: rgba(0,0,0,.75);
}

/* Header */
header {
  position: fixed;
  padding-top: 10vh;
  margin-left: 15vw;
}

h1 {
  width: 12.5vw;
  padding-bottom: 1em;

  background-image: url("img/bruinClub.svg") 0 0 no-repeat;
  background-size: 100% 100%;
}

nav > a {
  display: block;
  padding-top: 1em;

  line-height: 1.5em;
}

nav > a.active + .sub-menu {
  display: block;
}

nav a.active {
  color: red;
}

.sub-menu {
  display: none;
  padding-top:.75em;
  padding-left: 1.5em;
}

.sub-menu li {
  text-indent:0;
  padding-left: 0;
  padding-bottom: 0;

  font-size: .65em;
  letter-spacing: 1px; 
  line-height: 1.5em; 
  color:#000;
}

.sub-menu li:before {
  content: none;
}

/* Main Content */
.container {
  width: 40%;
  max-width: 1000px;

  margin-left:40%;
}

h2 {
  padding: 2em 0;

  font-size: 2em;
  color: rgb(255,50,50);
}

#introduction h2 {
  padding-top: 15vh;
}

h3 {
  padding-top: 1em;
  padding-bottom: 1em;
}

#tour-content section ul {
  height: 6em;
  overflow: hidden;
}

#tour-content section ul.more-content {
  height: auto;
  overflow: visible;
}

button.see-more {
  /* Strip button styles */
  background: none;
  border: 0;
  border-radius: 0;
  outline: 0;
  -webkit-appearance: none;
 
  padding-top: 1em;
  padding-left: 1em;

  font-size: .75em;
  color: rgba(255,50,50,.5);
  transition: color 0.2s;

  cursor: pointer;
}

button.see-more:hover {
  color: rgba(255, 50, 50, 1);
}

/* Footer */
footer {
  margin-top: 3em;
  margin-bottom: 2em;

  color: #999;
}

.sitePhoto{
  width:100%;
  padding-top:2em;
}