/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

a {
	text-decoration: none;
	color:inherit;
}

nav {
	position: fixed;
	padding-top: 10vh;
	margin-left: 15vw;
}

nav > a {
	display: block;
}

.subMenu {
	padding-top:.75em;
	padding-left: 1.5em;
}

.subMenu li {
	text-indent:0;
	padding-left: 0;
	padding-bottom: 0;
	font-size: .75em;
	color:#000;
}

.subMenu li:before {
    content: none;
}

/*body text*/
p, nav > a {
	font-family: 'Libre Baskerville', serif;
	font-size: 1em;
	line-height: 1.5em;
	padding-top: 1em;
}

/*body text*/
h1 {
	font-family: 'Libre Baskerville', serif;
	font-size: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
	color: rgb(255,50,50);
}

/*body text*/
li {
	font-family: 'Libre Baskerville', serif;
	font-size: 1em;
	line-height: 1.5em;

	padding-bottom: 1.5em;
	padding-left: 1em; 
	text-indent: -.8em;

	color:rgba(0,0,0,.75);
}

li:before {
    content: "- ";
    color: red; /* or whatever color you prefer */
}

p.category{
	padding-top: 1em;
	padding-bottom: 1em;

}

.hide{
	display:none;
}

.seeLessContent{
	height:6em;
	overflow:hidden;
}

.seeMoreContent{
}

.see{
	padding-left: 1em; 
	color: rgba(255,50,50,.5);
	font-size: .75em;
}

.container {
	margin-left:40%;
	width: 40%;
	max-width: 1000px;
}

.top {
	padding-top: 15vh;
}

.focus{
	color: rgb(255,50,50);
}

#logo{
	padding-bottom: 1em;
	width: 12.5vw;
}

div.footer{
	height:20vh;
}